<header>
  <div class="top-band bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <ul class="contact_info">
            <li>
              <a href="tel:8882662484"
                ><i class="fa fa-phone"></i>91+ &nbsp;8882662484</a
              >
            </li>
            <li>
              <a href="mailto:info@satikelectric.co.in"
                ><i class="far fa-envelope"></i>Info@satikelectric.co.in</a
              >
            </li>
          </ul>
        </div>
        <div class="col-sm-4 text-end">
          <ul class="social-links">
            <li>
              <a href=""> <i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href=""> <i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href=""> <i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-md navbar-primary bg-white py-md-2">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img
          src="/assets/logo.png"
          alt="Satik Electric"
          width="150"
          height="50"
          class="d-inline-block align-top wow fadeIn"
        />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if (!locals.user) { %>

        <!-- Visitor's Navbar -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a
              class="nav-link <%= (locals.active === 'home') ? 'active' : '' %>"
              href="/"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link <%= (locals.active === 'about-us') ? 'active' : '' %>"
              href="/about-us"
              >About us</a
            >
          </li>
          <li class="nav-item product has-child">
            <a
              class="nav-link <%= (locals.active === 'products') ? 'active' : '' %>"
              href="#"
              >Products
              <i class="fas fa-chevron-down"></i>
            </a>
            <ul class="level-2">
              <li>
                <a href="">
                  <img
                    src="/assets/imgPlacholder450x450.png"
                    alt="Modular"
                    width="100"
                    height="100px"
                  />
                  <p>Modular</p>
                  <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="level-3">
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Modular"
                        width="100"
                        height="100px"
                      />
                      <p>Product 1</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 2</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 3</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 4</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 5</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product x</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product x</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product x</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product x</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="">
                  <img
                    src="/assets/imgPlacholder450x450.png"
                    alt="Non-Modular"
                    width="100"
                    height="100"
                  />
                  <p>Non-Modular</p>
                  <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="level-3">
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Modular"
                        width="100"
                        height="100px"
                      />
                      <p>Product 1</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 2</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 3</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 4</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 5</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product x</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product x</p>
                    </a>
                  </li>
                  
                 
                </ul>
              </li>
              <li>
                <a href="">
                  <img
                    src="/assets/imgPlacholder450x450.png"
                    alt="Non-Modular"
                    width="100"
                    height="100"
                  />
                  <p>Lighting</p>
                  <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="level-3">
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Modular"
                        width="100"
                        height="100px"
                      />
                      <p>Product 1</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 2</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 3</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 4</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 5</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product x</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product x</p>
                    </a>
                  </li>
                  
                 
                </ul>
              </li>
              <li>
                <a href="">
                  <img
                    src="/assets/imgPlacholder450x450.png"
                    alt="Non-Modular"
                    width="100"
                    height="100"
                  />
                  <p>Wires & Cables</p>
                  <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="level-3">
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Modular"
                        width="100"
                        height="100px"
                      />
                      <p>Product 1</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 2</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 3</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 4</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 5</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product x</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product x</p>
                    </a>
                  </li>
                  
                 
                </ul>
              </li>
              <li>
                <a href="">
                  <img
                    src="/assets/imgPlacholder450x450.png"
                    alt="Non-Modular"
                    width="100"
                    height="100"
                  />
                  <p>Tapes</p>
                  <i class="<i class="fas fa-chevron-down"></i></i>
                </a>
                <ul class="level-3">
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Modular"
                        width="100"
                        height="100px"
                      />
                      <p>Product 1</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 2</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 3</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 4</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product 5</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product x</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img
                        src="/assets/imgPlacholder450x450.png"
                        alt="Non-Modular"
                        width="100"
                        height="100"
                      />
                      <p>Product x</p>
                    </a>
                  </li>
                  
                 
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item has-child">
            <a
              class="nav-link <%= (locals.active === 'quality') ? 'active' : '' %>"
              href="#"
              >Product Portfolio
              <i class="fas fa-chevron-down"></i>
            </a>
            <ul class="level-2">
              <li><a href="">Product Portfolio 1</a></li>
              <li><a href="">Product Portfolio 2</a></li>
              <li><a href="">Product Portfolio 3</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link <%= (locals.active === 'career') ? 'active' : '' %>"
              href="#"
              >Career</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link <%= (locals.active === 'contact') ? 'active' : '' %>"
              href="contact-us"
              >Contact</a
            >
          </li>
        </ul>

        <% } else { %>

        <!-- User's Navbar -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a
              class="nav-link <%= (locals.active === 'posts') ? 'active' : '' %>"
              href="/posts"
              >Posts</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Options
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a
                  class="dropdown-item <%= (locals.active === 'profile') ? 'active' : '' %>"
                  href="/profile"
                  >Profile</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item <%= (locals.active === 'settings') ? 'active' : '' %>"
                  href="/settings"
                  >Settings</a
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="/logout"
                  ><i class="fa fa-sign-out-alt"></i> Log out</a
                >
              </li>
            </ul>
          </li>
        </ul>

        <% } %>
      </div>
    </div>
  </nav>
</header>

<% if (!locals.user) { %>

<!-- Flash Alert -->
<% if (locals.flash && flash.length> 0) { %> <% flash.forEach((message)=> { %>
<div
  class="alert alert-danger alert-dismissible fade show fixed-top mt-3 ms-3 d-inline-block w-25"
  role="alert"
>
  <strong> <%= message %> </strong> Please try again.
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% }); %> <% } %>

<!-- Sign Up Modal -->
<div
  class="modal fade"
  id="signupModal"
  tabindex="-1"
  aria-labelledby="signupModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="signupForm"
          action="/users"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-floating mb-3">
            <input
              type="text"
              id="signupFirstName"
              class="form-control"
              name="firstName"
              placeholder="First Name"
              required
            />
            <label for="signupFirstName" class="form-label">First Name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              id="signupLastName"
              class="form-control"
              name="lastName"
              placeholder="Last Name"
              required
            />
            <label for="signupLastName" class="form-label">Last Name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              id="signupEmail"
              class="form-control"
              name="email"
              placeholder="Email"
              required
            />
            <label for="signupEmail" class="form-label">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              id="signupPassword"
              class="form-control"
              name="password"
              placeholder="Password"
              required
            />
            <label for="signupPassword" class="form-label">Password</label>
          </div>
          <div class="mb-3">
            <label for="profile" class="form-label">Profile Photo</label>
            <input
              class="form-control"
              type="file"
              accept="image/jpeg,image/png,image/webp"
              id="profile"
              name="profile"
            />
          </div>

          <button
            type="submit"
            class="btn btn-lg btn-primary w-100"
            form="signupForm"
          >
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Log In Modal -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Log In</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="loginForm" action="/login" method="post">
          <div class="form-floating mb-3">
            <input
              type="text"
              id="loginEmail"
              class="form-control"
              name="email"
              placeholder="Email"
              required
            />
            <label for="loginEmail" class="form-label">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              id="loginPassword"
              class="form-control"
              name="password"
              placeholder="Password"
              required
            />
            <label for="loginPassword" class="form-label">Password</label>
            <a class="link-danger text-decoration-none" href="#"
              >Forgot password?</a
            >
          </div>

          <button
            type="submit"
            class="btn btn-lg btn-info w-100"
            form="loginForm"
          >
            Log In
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% } %>
